.cards-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.coin-card{
    background-image: linear-gradient(-225deg, #ffcf7784 0%, #64cbff98 48%, #e46dff88 100%);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 15rem;
}

.coin-name{
    font-size: 24px;
}
.coin-price{
    font-size: 16px;
    font-weight: 600;
}
.coin-symbol{
    font-size: 18px;
}